/* general styles ----------------------- */
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:90%;
	color:#272727;
}
h3 {
	font-weight:bold;
	margin:15px 0 5px 0;
}
.audio-container {
	padding:10px 10px 10px 15px;
	font-size:85%;
}

/* time-marker-container styles --------- */
table {
	border-collapse:collapse;
	font-size:90%;
}
table,th, td {
	border: 1px solid #a8a8a8;
}
th {
	height:20px;
	padding:2px 4px;
	background:url('images/annotate-audio-songnamebkgd.gif') repeat-x;
}
td {
	padding:2px 4px;
}
/* misc styles --------------------------- */

#mark-range {
  margin-bottom: 4em;
}

#time-marker-container {
	padding-left:10px;
	max-width:400px;
	float: left;
}
#player-ui-container{
   float:left;
}

.axe_node{
	position: absolute;
	z-index: 500;
	width: 7px;
	height: 7px;
	background-image: url('chrome://zotero-content/skin/annotations/images/axe_blue_small.png');
}
.node_selected{

}
.axe_start_node{
	width: 7px;
	height: 7px;
	background-image: url('chrome://zotero-content/skin/annotations/images/axe_red_small.png');
}
.selectedTime {
	background-color: cyan;
}
